@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Estilos base */
.elemento {
  width: 100vw;
}

.fondito {
  background-color: #0d0040;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .elemento {
    width: 50%;
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 769px) {
  .elemento {
    width: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #000000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;

}

/*ENCABEZADO*/
#header {
  display:flex;
  align-items:normal;
  justify-content: space-between;
  padding: 0.3em 0.5em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff; 
  border-bottom: 2px solid #000000; 
  color: #000000; 
}

#header2 {
  display:flex;
  align-items:normal;
  justify-content: space-between;
  padding: 0.3em 0.5em;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.06);
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
  background-color: #246d96; 
  border-bottom: 2px solid #000000; 
  color: #ffffff; 
}

/*INICIO BARRA DE NAVEGACION*/
#navbar {
  display: flex;
  flex-direction: column; /* Cambio a columna en pantallas pequeñas */
  align-items: center;
  justify-content: center;
}

#navbar2 {
  text-align: center;
  display: flex;
  flex-direction: row; /* Alineación en fila */
  justify-content: flex-start; /* Alineación a la izquierda */
  align-items: center; /* Alineación vertical al centro */
}

#navbar2 .btn-ir-pagina {
  margin-left: auto; /* Mueve el botón "Ir a la Página" hacia la derecha */
}

#navbar li {
  list-style: none;
  padding: 10px 0; /* Ajuste del espacio entre elementos */
  position: relative;
}

#navbar2 li {
  list-style: none;
  padding: 10px 0; /* Ajuste del espacio entre elementos */
  position: relative;
  text-align: center;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: 0.3s ease;
  text-align: center; /* Centrado del texto en pantallas pequeñas */
}

#navbar2 li a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
  text-align: center; /* Centrado del texto en pantallas pequeñas */
}

#navbar li a.active::after{
  content: "";
  width: 100%; /* Ancho completo del contenedor en pantallas pequeñas */
  height: 2px;
  background: #4ebbc5;
  position: absolute;
  bottom: -4px;
  left: 0;
}

#navbar li a:hover::after {
content: "";
width: 100%; /* Ancho completo del contenedor en pantallas pequeñas */
height: 2px;
position: absolute;
bottom: -4px;
left: 0;
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  #navbar {
    flex-direction: row; /* Volver a la disposición de fila en pantallas más grandes */
  }

  #navbar2 {
    flex-direction: row; /* Volver a la disposición de fila en pantallas más grandes */
  }

  #navbar li {
    padding: 0 20px; /* Restaurar el espacio entre elementos */
  }

  #navbar2 li {
    padding: 0 20px; /* Restaurar el espacio entre elementos */
  }
}
/*FIN BARRA DE NAVEGACION*/
#carrusel{
  background-color: #ffffff;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 5% right 0;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*IMAGEN 1 DE INDEX*/
#hero{
  background-image: url("../img/hero1.jpg");
  background-color: #f5f1f0;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 5% right 0;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15%;
  color: rgb(0, 0, 0);
  
}

#hero h1{
  color:  rgb(27, 152, 206);
}

#hero button{
  background-image: url(img/button.png);
  background-color: #4ebbc5;
  color: #ffffff;
  border: 0;
  padding: 14px 80px 14px 65px ;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.hero button a:hover{
  background-color: #246d96;
}
/*FIN IMAGEN INDEX*/


/*INICIO Carrusel de universidades*/
.carousel-unis-container {
  background-color: #f5f1f0; /* Color de fondo del carrusel */
  padding: 0px; /* Espacio alrededor del carrusel */
  max-width: 100%; /* Ancho máximo del carrusel */
  height: 70vh; /* Altura del carrusel igual al 100% del viewport height */
  margin: 0; /* Centrar el carrusel horizontalmente */
}

.carousel-marcas img {
  background-color: #f5f1f0;
  width: auto; /* Ancho automático */
  height: auto; /* Altura automática */
  max-width: 30%; /* Ancho máximo del contenedor */
  max-height: 30%; /* Altura máxima del contenedor */
  object-fit: contain; /* Ajustar imagen al contenedor */
  display: block; /* Cambiar el elemento de imagen a un bloque */
  margin: auto; /* Auto-margen horizontal para centrar */
}


.carousel-marcas {
  width: 100%; /* Ancho del carrusel */
  /* Otros estilos del carrusel */
}
  
/* Estilo de contenedor principal */
.carousel-marcas {
  
  background-color: #f5f1f0; /* Color de fondo del carrusel */
  padding: 20px;
  max-width: 100%; /* Ancho máximo del contenedor */
}

/* Estilo de las imágenes del carrusel */
.carousel-marcas img {
  width: 100%;
  height: auto;
}

.carousel-marcas a {
  display: inline-block;
  padding: 10px;
  background-color: #f5f1f0;
  text-decoration: none;
  color: #020202;
  border: 1px solid #f5f1f0;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 30%; /* Ancho máximo del contenedor */
}

.carousel-marcas a:hover {
  background-color: #edeef0;
}
/*FIN Carrusel de marcas*/

/*◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇*/


.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-container {
  display: flex;
  align-items: center;
}

#navbar {
  display: flex;
  list-style: none;
  padding: 0;
}

#navbar2 {
  display: flex;
  list-style: none;
  padding: 0;
}

#navbar li {
  padding: 0 20px;
}

#navbar2 li {
  padding: 0 20px;
}

/* Mostrar el menú de hamburguesas solo en pantallas más pequeñas */
@media (max-width: 768px) {
  .burger-menu {
    display: flex; /* Mostrar en pantallas más pequeñas */
  }

  #navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajustar según sea necesario */
    left: 0;
    width: 100%;
    background-color: #fff; /* Fondo del menú desplegable */
  }

  #navbar.show {
    display: flex;
  }

  #navbar li {
    padding: 10px 20px;
  }

  #navbar2 {
    text-align: center;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajustar según sea necesario */
    left: 0;
    width: 100%;
    background-color: #fff; /* Fondo del menú desplegable */
  }

  #navbar2.show {
    display: flex;
  }

  #navbar2 li {
    padding: 10px 20px;
  }
}
